.category_home{
  text-align: center;
}

.category_home h4{
  margin-bottom: 2%;
  margin-top: 1%;
  color: gray;
}

.category_home .item{
  vertical-align: top;
  display: inline-block;
  margin-right: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid darkgray;
  height: 305px;
  width: 250px;
/*  box-shadow: 10px 10px 5px #888888;*/
}

.category_home .item img{
  height: 250px;
  text-align: center;
  line-height: 250px;
}

.category_home .item p{
  text-align: center;
  margin-bottom: 0px;
}

.category_home .fa{
  margin-top: 5px;
  color: darkgray;
}

