.homepage h4{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.slideshow-wrapper{
  text-align: center
}

.homepage img{
  margin: 0 auto;
  vertical-align: middle;
}

.orbit-bullets{
  margin-bottom: 2%;
}

.featured img{
  height: 200px;
}

.owl_wrapper{
  margin-bottom: 1%
}

.mini_cart{
  position: relative;
}



.homepage h4{
  color: grey;
}


