.product_home h3{
  text-align: center;
}

.product_home .product_image{
  float: left;
  padding-top: 60px;
  margin-right: 5%
}

.product_home{
  padding-top: 60px;
}

.home-slider{
  display: inline;
}

.list-style{
  list-style-type: none;
}

.list-style li{
  padding-bottom: 20px;
  font: 20px;
}

.similar_products{
  list-style-type: none;
  float: left;
}

.similar_products img {

  padding-right: 10px;
}

.product_home h3{
  text-align: left;
  letter-spacing: 24px;
}

.button_alert{
  height: 50px;
  width:75px;
}

.product_home .product_review{
  margin-top: 5%;
}


