.product_home h3{
  text-align: center;
}

.product_home .product_image{
  float: left;
}

.home-slider{
  display: inline;
}

.list-style{
  list-style-type: none;
}

.similar_products{
list-style-type: none;
display: inline;
}

