<div class="homepage">

<h3>Featured Products</h3>

<ul data-orbit>
  <% Product.featured_products.each do |product| %>
   <li><%= link_to image_tag(product.image_url), category_product_path(Category.find(product.category_id), product) %><%= %></li>
  <% end %>
</ul>

</div>
  <% @categories.each do |category| %>
   <h3><%= link_to category.name, category_path(category) %> </h3>
      <div id="owl-example" class="owl-carousel">
        <% category.products.each do |product| %>
            <div>
              <%= link_to image_tag(product.image_url), category_product_path(Category.find(product.category_id), product) %>
            </div>
        <% end %>
      </div>

  <% end %>


