<h1> <%= @category.name %> </h1>

</div>
<ul>
  <% @category.products.each do |product| %>
    <li> <%= link_to product.name, category_product_path(@category, product) %></li>
  <% end %>
</ul>
</div>
